registry=http://10.0.59.229:5055/
# //10.0.59.229:5055/:_authToken="qvxLJfaI8hkhNWgpXcvnSSekaDILn0DlnnUJ/GXKq5M="
# //10.0.59.137:30081/repository/icpx-public/:_authToken=NpmToken.e88079d4-07dd-3374-a58c-c475b20b3411
# shamefully-hoist=true
# disturl=https://npmmirror.com/dist
